table {
    border-collapse: collapse;
    margin-left:auto;margin-right:auto;

}
td {
    border: 4px solid black;
    width: 150px;
    height: 150px;
    font-size: 50px;
    text-align: center;
}
td:hover {
        background: #cccccc;
}
h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-family:'Roboto',sans-serif;
}
a.button4{
    display:inline-block;
    padding:0em 1em;
    margin:0 0.1em 0.1em 0;
    border:0.10em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font: weight 700;
    font-size: 35px;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    width: 450px;
    height: 60px;
}
a.button4:hover{
   border-color: rgb(46, 66, 243);
}
div{
    text-align: center;
    margin-top: 10px;
}