<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <style>
            table {
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                width: 150px;
                height: 150px;
                font-size: 30px;
                text-align: center;
            }
            td > a {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>
            {% if winner %}
                {{ winner }} wins
            {% endif %}
        </h1>
        <h1>
            {% if draw %}
                Tie
            {% endif %}
        </h1>
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        <td>
                            {% if game[i][j] %}
                                {{ game[i][j] }}
                            {% endif %}    
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <h1>
            <a href="/reset">reset board</a>
        </h1>
        <h1>
            <a href="/computer">let the computer play</a>
        </h1>
    </body>
</html>