{% extends "layout.html" %}
{% block body %}
    
    <div>
        Tic Tac Toe
    </div>
    <table>
        {% for i in range(3) %}
            <tr>
                {% for j in range(3) %}
                    <td onClick="document.location.href='{{ url_for('play', row=i, col=j) }}';">
                        {% if game[i][j] %}
                            {{ game[i][j] }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h1>
        <a href="/reset">Reset board</a>
    </h1>
    <h1>
        <a href="/computer">Let the computer play</a>
    </h1>
{% endblock %}