{% extends "layout.html" %}
{% block body %}
    <h1>
        {% if winner %}
            {{ winner }} wins
        {% endif %}
        {% if draw %}
            Tie
        {% endif %}
    </h1>
    <table>
        {% for i in range(3) %}
            <tr>
                {% for j in range(3) %}
                    <td>
                        {% if game[i][j] %}
                            {{ game[i][j] }}
                        {% endif %}    
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href="/reset" class="button4" style="background-color:#4e9af1">Reset game</a>
    </div>
    <div>
        <a href="#" class="button4" style="background-color:#4e9af1">Let the computer play</a>
    </div>
{% endblock %}